<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button dark type="button" (click)="viewCtrl.dismiss()">
                Close
            </button>
        </ion-buttons>
        <ion-title>Find your mates</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="mates.search($event.value.trim())"></ion-searchbar>
    <div *ngIf="search.length === 0 && searchQuery !== ''">
        <p text-center>No results.</p>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let item of search">
            <ion-item>
                <ion-avatar item-left>
                    <mate-image [image]="item.pic"></mate-image>
                </ion-avatar>
                <h2>{{item.name}}</h2>
            </ion-item>
            <ion-item-options>
                <button primary (click)="addMate(item)">
                    <ion-icon name="person-add"></ion-icon>
                    Send request
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>