<ion-header>
    <ion-navbar>
        <ion-title>
            <span *ngIf="event._id">Edit</span>
            <span *ngIf="!event._id">New</span>
            event
        </ion-title>
        <ion-buttons end>
            <button secondary (click)="save()"
                    [disabled]="!eventForm.valid || !event.location || !event.location.coordinates">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center>
        <ion-col class="event-map-col" no-padding width-100>
            <div id="event-map"></div>
        </ion-col>
    </ion-row>
    <p no-padding text-center text-small>Click on the map or drag the marker to set the event coordinates.</p>

    <form (submit)="save()" #eventForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input name="name" required type="text" [(ngModel)]="event.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Description</ion-label>
                <ion-textarea name="description" required [(ngModel)]="event.description"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>Address</ion-label>
                <ion-input name="address" required type="text" [(ngModel)]="event.address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Start Date</ion-label>
                <ion-datetime name="date" [(ngModel)]="event.date"
                              min="{{min}}" max="{{max}}"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Start Time</ion-label>
                <ion-datetime name="time" displayFormat="h:mm:A" pickerFormat="hh mm A"
                              [(ngModel)]="event.date"></ion-datetime>
            </ion-item>
        </ion-list>
    </form>

    <div padding-horizontal margin-bottom *ngIf="event._id">
        <button small block danger outline (click)="cancelEvent()">
            Cancel event
        </button>
    </div>
</ion-content>