<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button dark (click)="viewCtrl.dismiss()">
                Cancel
            </button>
        </ion-buttons>
        <ion-title>Go for a walk</ion-title>
        <ion-buttons end>
            <button secondary (click)="start()" [disabled]="!selectedPet">
                Start
                <ion-icon name="paw"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="auth.user.pets.length===0">
        <p padding-horizontal text-center>To go out for a walk, you must first add your pet.</p>
        <button [navPush]="PetsPage">My pets</button>
    </div>
    <div *ngIf="auth.user.pets.length > 0">
        <p padding-horizontal>
            Starting a walk will notify your mates and show you on the map.<br>
            When you finish your walk, click "Stop walk".
        </p>
        <ion-list radio-group [(ngModel)]="selectedPet">
            <ion-list-header>Choose the pet which is going out</ion-list-header>

            <ion-item *ngFor="let d of auth.user.pets">
                <ion-thumbnail item-left>
                    <pet-image [image]="d.pic"></pet-image>
                </ion-thumbnail>
                <ion-label>
                    <h2>{{d.name}}</h2>
                    <h3 *ngIf="d.breed">{{d.breed.name}}</h3>
                    <p><span [gender]="d.sex"></span>, <span [age]="d.birthday"></span></p>
                </ion-label>
                <ion-radio value="{{d._id}}"></ion-radio>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
