<ion-list>
    <ion-list-header>Pets</ion-list-header>
    <button ion-item *ngIf="canCreate"
            (click)="petCreateModal()">
        <ion-icon item-left name="add"></ion-icon>
        <span>Add new pet</span>
    </button>
    <button ion-item type="button"
            *ngFor="let item of pets | async"
            (click)="petEdit(item)">
        <ion-avatar item-left>
            <pet-image [image]="item.pic"></pet-image>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <h3>{{item.breed.name}}</h3>
        <p><span [gender]="item.sex"></span>, <span [age]="item.birthday"></span></p>
    </button>
</ion-list>
<div *ngIf="!(pets | async).length">
    <p text-center *ngIf="canCreate">No pets? :( You should adopt one!</p>
    <p text-center *ngIf="!canCreate">No pets here...</p>
</div>
