<ion-content>
    <div *ngIf="mates.mates.pending.length===0" padding-horizontal>
        <p text-center>
            <ion-icon name="information-circle"></ion-icon>
            No new requests.
        </p>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let mate of mates.mates.pending">
            <button ion-item>
                <ion-avatar item-left>
                    <mate-image [image]="mate.friend.pic"></mate-image>
                </ion-avatar>
                <h2>{{mate.friend.name}}</h2>
            </button>
            <ion-item-options>
                <button secondary (click)="acceptRequest(mate)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    Accept
                </button>
                <button danger (click)="cancelRequest(mate)">
                    <ion-icon name="remove-circle"></ion-icon>
                    Remove
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>