<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mates</ion-title>
        <ion-buttons end>
            <button secondary (click)="openSearchMateModal()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="mates.mates.pending.length===0" padding-horizontal>
        <p text-center>
            <ion-icon name="information-circle"></ion-icon>
            No new requests.
        </p>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let friendship of mates.mates.pending">
            <button ion-item (click)="viewMate(friendship)">
                <ion-avatar item-left>
                    <mate-image [image]="friendship.friend.pic"></mate-image>
                </ion-avatar>
                <h2>{{friendship.friend.name}}</h2>
            </button>
            <ion-item-options>
                <button secondary (click)="mates.add(friendship.friend)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    Accept
                </button>
                <button danger (click)="mates.remove(friendship._id)">
                    <ion-icon name="remove-circle"></ion-icon>
                    Remove
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>