<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="modalClose" type="button"
                    *ngIf="pet.breed._id"
                    (click)="viewCtrl.dismiss()">
                Close
            </button>
        </ion-buttons>
        <ion-title>Select breed</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)"></ion-searchbar>
    <div *ngIf="filteredItems.length === 0 && searchQuery !== ''">
        <p text-center>No breed matching your query.</p>
    </div>

    <ion-list radio-group
              [(ngModel)]="pet.breed._id"
              (ionChange)="onSelectBreed($event)">
        <ion-item *ngFor="let b of filteredItems">
            <ion-radio item-left value="{{b._id}}"></ion-radio>
            <ion-label>{{b.name}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
