mate-image {
  display: block;
  text-align: center;

  & > ion-icon {
    font-size: 30px;
  }
}

pet-image,
place-image {
  display: block;
}

.profile-picture {
  max-height: 200px;

  img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
  }

  .change-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    padding: 3px 0;
    margin: 0;
    background: transparentize(#000, 0.9);
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
  }
}