a[disabled],
button[disabled] {
  opacity: 0.5;
}

[text-small] {
  font-size: 10px !important;
}

#main-menu {
  .menu-inner {
    background: #fff url('../img/menu.jpg') bottom center;
  }

  ion-title {
    padding: 0 70px 1px;
    top: 6px;

    .outline {
      font-family: $font-primary;
      color: #fff;
      font-size: 24px;
    }
  }

  ion-content {
    background: none;
  }

  .item {
    background: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .item-inner {
      border: none;
    }

    &.active {

    }
  }
}

[margin-bottom] {
  margin-bottom: 16px;
}
[margin-bottom-small] {
  margin-bottom: 8px;
}