<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Nearby dogs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button ion-item *ngFor="let item of nearby$ | async"
                (click)="viewOwner(item._id)">
            <ion-avatar item-left>
                <mate-image [image]="item.pet.pic"></mate-image>
            </ion-avatar>
            <h2>{{item.pet.name}}, {{item.pet.breed.name}}</h2>
            <p><span [gender]="item.pet.sex"></span>, <span [age]="item.pet.birthday"></span></p>
            <p *ngIf="item.distance">
                {{item.distance | distance}} - {{item.city}}
            </p>
        </button>
    </ion-list>
    <p text-center *ngIf="nearby$.getValue().length === 0">No dogs nearby...</p>
</ion-content>
