<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Conversations</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="secondary" (click)="createConversation()">
                <ion-icon name="create-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list class="conversations-list">
        <button ion-item *ngFor="let item of chats$ | async"
                (click)="openConversation(item)">
            <ion-avatar item-left>
                <mate-image [image]="chatService.getMembersPic(item)"></mate-image>
            </ion-avatar>
            <h2>
                {{chatService.getConversationTitle(item) | slice:0:21}}
            </h2>
            <p *ngIf="item.lastMessage">
                <span *ngIf="item.lastMessage.author._id === authService.user._id">You:</span>
                <span *ngIf="item.lastMessage.author._id !== authService.user._id">{{item.lastMessage.author.name}}:</span>
                <span *ngIf="item.lastMessage.msg">{{item.lastMessage.msg | slice:0:21}}</span>
                <span *ngIf="item.lastMessage.pic">Photo message</span>
            </p>
            <ion-badge item-right *ngIf="item.newMessages && item.newMessages > 0">
                {{item.newMessages}}
            </ion-badge>
            <span item-right *ngIf="item.lastMessage">
                {{item.lastMessage.added | date:'EEE'}}
            </span>
        </button>
    </ion-list>

    <p text-center text-small>
        Chat messages are kept for the next 48h.
    </p>
</ion-content>
