<ion-content>
    <div *ngIf="mates.mates.accepted.length === 0" padding-horizontal>
        <p>You have no mates.</p>
        <h6>Add your mates to:</h6>
        <ul>
            <li>
                Chat with them
            </li>
            <li>
                Be notified instantly when they are going out for a walk
            </li>
        </ul>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let mate of mates.mates.accepted">
            <button ion-item (click)="viewMate(mate)">
                <ion-avatar item-left>
                    <mate-image [image]="mate.friend.pic"></mate-image>
                </ion-avatar>
                <h2>{{mate.friend.name}}</h2>
            </button>
            <ion-item-options>
                <button danger (click)="removeMate(mate)">
                    <ion-icon name="remove-circle"></ion-icon>
                    Remove
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>