<ion-header>
    <ion-navbar>
        <ion-buttons start *ngIf="isNew">
            <button dark (click)="viewCtrl.dismiss()">
                Cancel
            </button>
        </ion-buttons>
        <ion-title>
            <span *ngIf="!isNew">Edit</span>
            <span *ngIf="isNew">New</span>
            pet
        </ion-title>
        <ion-buttons end>
            <button secondary (click)="save()" [disabled]="!petForm.valid">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center *ngIf="!isNew">
        <ion-col no-padding width-100 class="profile-picture" (click)="changePicture()">
            <pet-image [image]="pet.pic"></pet-image>
            <p class="change-text">Change picture</p>
        </ion-col>
    </ion-row>

    <form (submit)="save()" [ngFormModel]="petForm">
        <ion-list>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input required type="text" ngControl="name" [(ngModel)]="pet.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Birthday</ion-label>
                <ion-datetime
                        [(ngModel)]="pet.birthday"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Gender</ion-label>
                <ion-select [(ngModel)]="pet.sex">
                    <ion-option value="m">Male</ion-option>
                    <ion-option value="f">Female</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Breed</ion-label>
                <ion-select required ngControl="breed" [(ngModel)]="pet.breed._id"
                            (change)="onSelectBreed($event)">
                    <ion-option *ngFor="let b of breeds" value="{{b._id}}">
                        {{b.name}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
    <div padding *ngIf="!isNew">
        <button small block danger outline (click)="remove()">
            Delete pet
        </button>
    </div>
    Test upload
    <input type="file" (change)="fileChangeEvent($event)"/>
</ion-content>