<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button ion-button icon-only right
                    (click)="openDangerSheet()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="user">
        <ion-item>
            <ion-thumbnail item-left>
                <mate-image [image]="user.pic"></mate-image>
            </ion-thumbnail>
            <h2>{{ user.name }}</h2>
            <p *ngIf="user.city && user.country">
                {{ user.city + ', ' + user.country }}
            </p>
            <p>{{ user.email }} (private)</p>
        </ion-item>
        <ion-item>
            <button ion-button color="primary" clear item-left
                    (click)="editModal()">
                Edit
            </button>
        </ion-item>
    </ion-card>
    <pets-list *ngIf="user" [pets]="user.pets" [canCreate]="true"></pets-list>
</ion-content>