<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mates</ion-title>
        <ion-buttons end>
            <button secondary (click)="searchMateModal()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="mates.mates.requested.length===0" padding-horizontal>
        <p text-center>
            <ion-icon name="information-circle"></ion-icon>
            No requests without response.
        </p>
    </div>
    <ion-list *ngIf="mates.mates.requested.length > 0">
        <ion-item-sliding *ngFor="let mate of mates.mates.requested">
            <button ion-item (click)="viewMate(mate)">
                <ion-avatar item-left>
                    <mate-image [image]="mate.friend.pic"></mate-image>
                </ion-avatar>
                <h2>{{mate.friend.name}}</h2>
            </button>
            <ion-item-options>
                <button danger (click)="cancelRequest(mate)">
                    <ion-icon name="close"></ion-icon>
                    Cancel
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>