<ion-header>
    <ion-navbar>
        <ion-title>
            {{mate.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center>
        <ion-col no-padding width-100 class="profile-picture">
            <mate-image [image]="mate.pic"></mate-image>
        </ion-col>
    </ion-row>
    <p text-center *ngIf="mate.city && mate.country">
        {{ mate.city + ', ' + mate.country }}
        <!--Distance: {{ mate.distance }} away-->
    </p>
    <ion-list>
        <ion-list-header>
            Pets
        </ion-list-header>
        <ion-item *ngIf="mate.pets.length===0">
            {{mate.name}} haven't added his pets.
        </ion-item>
        <ion-item *ngFor="let d of mate.pets">
            <ion-thumbnail item-left>
                <pet-image [image]="d.pic"></pet-image>
            </ion-thumbnail>
            <h2>{{d.name}}</h2>
            <h3>{{d.breed.name}}</h3>
            <p><span [gender]="d.sex"></span>, <span [age]="d.birthday"></span></p>
        </ion-item>
    </ion-list>

    <div padding>
        <button block primary
                *ngIf="!friendshipStatus"
                (click)="addMate()">
            <ion-icon name="person-add"></ion-icon>
            Send mate request
        </button>
        <button block light
                *ngIf="friendshipStatus === friendshipStatuses.requested"
                (click)="cancelMate()">
            <ion-icon name="close"></ion-icon>
            Cancel mate request
        </button>
        <button block secondary
                *ngIf="friendshipStatus === friendshipStatuses.pending"
                (click)="approveMate()">
            <ion-icon name="checkmark"></ion-icon>
            Add to my mates
        </button>
        <button small block danger outline
                *ngIf="friendshipStatus === friendshipStatuses.accepted"
                (click)="removeMate()">
            <ion-icon name="close"></ion-icon>
            Remove from my mates
        </button>
    </div>
</ion-content>