$auth-input-placeholder-color: #666;

.auth-page {
  background: #fff url('../img/menu.jpg') bottom center;

  .title {
    margin-top: 20px;

    & > span {
      font-family: $font-primary;
      color: #fff;
      font-size: 30px;
    }
  }

  .segment-button {
    color: #fff;
  }

  .sign-up {
    ion-grid {
      padding: 0;

      ion-col {
        position: relative;
        padding: 0;

        mate-image {
          img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        ion-list {
          margin-bottom: 0;
        }
      }
    }
  }

  ion-list {
    background: rgba(255, 255, 255, 0.7);
    position: relative;

    ion-item {
      background: none;

      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $auth-input-placeholder-color;
        opacity: .9;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $auth-input-placeholder-color;
        opacity: .9;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $auth-input-placeholder-color;
        opacity: .9;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $auth-input-placeholder-color;
        opacity: .9;
      }
    }
  }
}