<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon color="primary" name="paw"></ion-icon>
            PetMates
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only
                    (click)="map.setView(walk.walk.marker.getLatLng(), 16);"
                    *ngIf="GEOaccess">
                <ion-icon name="locate"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="map-page">
    <div id="map-container" *ngIf="GEOaccess"></div>
    <h5 class="no-geo-access" padding text-center *ngIf="!GEOaccess">
        To use the Map feature, you must allow access to your device location.
    </h5>
</ion-content>

<ion-footer *ngIf="GEOaccess">
    <ion-toolbar no-border-top>
        <p *ngIf="walk.walk.started">
            Out with {{walk.walk.pet.name}}
        </p>
        <ion-buttons end *ngIf="!walk.walk.started">
            <button ion-button icon-right color="secondary"
                    (click)="openWalkModal()">
                Start walk
                <ion-icon name="paw"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="walk.walk.started">
            <button ion-button icon-right color="danger"
                    (click)="walk.stop()">
                Stop walk
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
