<ion-list>
    <ion-list-header>Pets</ion-list-header>
    <button ion-item *ngIf="canCreate"
            (click)="petCreateModal()">
        <ion-icon item-left name="add"></ion-icon>
        <span>Add new pet</span>
    </button>
    <button ion-item type="button" *ngFor="let d of pets" (click)="petEdit(d)">
        <ion-avatar item-left>
            <pet-image [image]="d.pic"></pet-image>
        </ion-avatar>
        <h2>{{d.name}}</h2>
        <h3>{{d.breed.name}}</h3>
        <p><span [gender]="d.sex"></span>, <span [age]="d.birthday"></span></p>
    </button>
</ion-list>
<div *ngIf="pets.length===0">
    <p text-center>No pets? :( You should adopt one!</p>
</div>
