ion-avatar,
ion-thumbnail {
  // http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height
  height: 1px;
}

a[disabled],
button[disabled] {
  opacity: 0.5;
}

ion-menu#main-menu {
  .menu-inner {
    background: #fff url('../assets/img/menu.jpg') bottom center;
  }

  ion-title {
    padding: 0;
    top: 6px;

    h1 {
      font-family: $font-primary;
      color: #fff;
    }
  }

  ion-content {
    background: none;
  }

  .item {
    background: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .item-inner {
      border: none;
    }

    &.active {

    }
  }
}
