a[disabled],
button[disabled] {
  opacity: 0.5;
}

ion-menu#main-menu {

  .menu-inner {
    background: #fff url('../assets/img/menu.jpg') bottom center;
  }

  ion-title {
    padding: 0;
    top: 6px;

    h1 {
      font-family: $font-primary;
      color: #fff;
    }
  }

  ion-content {
    background: none;
  }

  .item {
    background: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .item-inner {
      border: none;
    }

    &.active {

    }
  }
}

.profile-picture {
  position: relative;
  max-height: 200px;

  img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
  }

  .change-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    padding: 3px 0;
    margin: 0;
    background: transparentize(#000, 0.9);
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
  }
}