<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mates</ion-title>
        <ion-buttons end>
            <button ion-button color="secondary" icon-only (click)="openSearchMateModal()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="mates.mates.accepted.length === 0" padding-horizontal>
        <p>You have no mates.</p>
        <h6>Add your mates to:</h6>
        <ul>
            <li>Chat</li>
            <li>Be notified when they are going out for a walk</li>
        </ul>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let friendship of mates.mates.accepted">
            <button ion-item (click)="viewMate(friendship.friend._id)">
                <ion-avatar item-left>
                    <mate-image [image]="friendship.friend.pic"></mate-image>
                </ion-avatar>
                <h2>{{friendship.friend.name}}</h2>
            </button>
            <ion-item-options>
                <button ion-button icon-left color="danger" (click)="removeMate(friendship)">
                    <ion-icon name="close"></ion-icon>
                    Remove
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>