<ion-header>
    <ion-navbar>
        <ion-title>
            {{chatService.getConversationTitle(chat)}}
            <last-activity *ngIf="chat.members.length === 2"
                           [userId]="(chat.members | excludeMe:true)._id"
                           text-small></last-activity>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="dark"
                    (click)="editConversation()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content [scrollDownOnLoad]="true">
    <ion-list class="messages">
        <ion-item class="message"
                  *ngFor="let item of chat.messages"
                  [ngClass]="{'me': item.author._id === authService.user._id}">
            <ion-avatar class="avatar">
                <mate-image [image]="item.author.pic"></mate-image>
            </ion-avatar>

            <span text-small *ngIf="chat.members.length > 2 && item.author._id !== authService.user._id">
                {{item.author.name}}
            </span>
            <p *ngIf="item.msg">{{ item.msg }}</p>
            <img *ngIf="item.picture && item.pic" [attr.src]="item.pic" imageViewer/>
            <img *ngIf="!item.picture && item.pic" [attr.src]="'data:image/png;base64,' + item.pic" imageViewer/>
            <time-ago text-small class="date" [time]="item.added"></time-ago>
        </ion-item>
    </ion-list>
    <div class="new-messages-badge" text-center *ngIf="chat && chat.newMessages > 0">
        <button ion-button small round color="primary"
                (click)="scrollToBottom()">
            New messages
        </button>
    </div>
</ion-content>

<ion-footer class="message-footer">
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-1>
                    <image-upload [placeholder]="false" (uploadSuccess)="onUploadSuccess($event)">
                        <button ion-button small clear color="dark" icon-only>
                            <ion-icon name="image"></ion-icon>
                        </button>
                    </image-upload>
                </ion-col>
                <ion-col col-10>
                    <ion-textarea no-margin placeholder="Message..."
                                  class="message-textarea"
                                  [(ngModel)]="message.msg"
                                  (keydown.enter)="sendMessage()"></ion-textarea>
                </ion-col>
                <ion-col col-1>
                    <button ion-button small icon-only
                            [disabled]="message.msg === ''"
                            (click)="sendMessage()">
                        <ion-icon name="send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>

