<ion-header>
    <ion-navbar>
        <ion-buttons start *ngIf="!pet._id">
            <button ion-button color="modalClose"
                    (click)="viewCtrl.dismiss()">
                Cancel
            </button>
        </ion-buttons>
        <ion-title>
            <span *ngIf="pet._id">Edit</span>
            <span *ngIf="!pet._id">New</span>
            pet
        </ion-title>
        <ion-buttons end>
            <button ion-button color="secondary"
                    [disabled]="!petForm.valid"
                    (click)="save()">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center>
        <ion-col no-padding width-100>
            <image-upload (uploadSuccess)="onUploadSuccess($event)" height-200>
                <pet-image [image]="pet.pic"></pet-image>
            </image-upload>
        </ion-col>
    </ion-row>

    <form (submit)="save()" #petForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input name="name" required type="text" [(ngModel)]="pet.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Birthday</ion-label>
                <ion-datetime name="birthday" [(ngModel)]="pet.birthday"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Gender</ion-label>
                <ion-select name="gender" [(ngModel)]="pet.sex">
                    <ion-option value="m">Male</ion-option>
                    <ion-option value="f">Female</ion-option>
                </ion-select>
            </ion-item>
            <ion-item (click)="selectBreed()">
                <ion-label>Breed</ion-label>
                <ion-input item-right name="breed" readonly required type="text"
                           [(ngModel)]="pet.breed.name"></ion-input>
            </ion-item>
        </ion-list>
    </form>
    <div padding *ngIf="pet._id">
        <button ion-button small block color="danger" outline
                (click)="remove()">
            Delete pet
        </button>
    </div>
</ion-content>