<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Places</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="secondary"
                    (click)="addPlace()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div padding>
        <ion-segment [(ngModel)]="mode" (ionChange)="onSegmentChange()">
            <ion-segment-button value="nearby">
                Nearby
            </ion-segment-button>
            <ion-segment-button value="mine">
                Created
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="mode">
        <div *ngSwitchCase="'nearby'">
            <ion-card *ngFor="let item of places.nearby$ | async" class="place-card">
                <img *ngIf="item.pic" [attr.src]="item.pic"/>

                <ion-item text-wrap>
                    <place-icon [type]="item.type" item-left></place-icon>
                    <h3>{{item.name}}</h3>
                </ion-item>

                <ion-item text-wrap>
                    <ion-icon name="pin" item-left></ion-icon>
                    <h3>{{item.address}}</h3>
                </ion-item>

                <ion-item text-wrap *ngIf="item.hours">
                    <ion-icon name="time-outline" item-left></ion-icon>
                    <h3>{{item.hours}}</h3>
                </ion-item>

                <ion-item text-wrap *ngIf="item.phone">
                    <ion-icon name="call" item-left></ion-icon>
                    <h3>{{item.phone}}</h3>
                </ion-item>

                <ion-item *ngIf="item.link">
                    <a [attr.href]="item.link" target="_blank">
                        {{item.link}}
                    </a>
                </ion-item>

                <ion-item>
                    <strong item-left>~{{item.distance | distance}}</strong>
                    <button ion-button color="danger" clear item-left
                            (click)="report(item)"
                            *ngIf="item.creator !== auth.user._id">
                        Report
                    </button>
                    <button ion-button icon-left color="primary" clear item-right
                            (click)="navigate(item)">
                        <ion-icon name="navigate"></ion-icon>
                        Directions
                    </button>
                </ion-item>

            </ion-card>
            <p text-center *ngIf="!(places.nearby$ | async).length">No places nearby...</p>
        </div>

        <div *ngSwitchCase="'mine'">
            <ion-card *ngFor="let item of places.mine$ | async" class="place-card">
                <img *ngIf="item.pic" [attr.src]="item.pic"/>

                <ion-item text-wrap>
                    <place-icon [type]="item.type" item-left></place-icon>
                    <h3>{{item.name}}</h3>
                </ion-item>

                <ion-item text-wrap>
                    <ion-icon name="pin" item-left></ion-icon>
                    <h3>{{item.address}}</h3>
                </ion-item>

                <ion-item text-wrap *ngIf="item.hours">
                    <ion-icon name="time-outline" item-left></ion-icon>
                    <h3>{{item.hours}}</h3>
                </ion-item>

                <ion-item text-wrap *ngIf="item.phone">
                    <ion-icon name="call" item-left></ion-icon>
                    <h3>{{item.phone}}</h3>
                </ion-item>

                <ion-item *ngIf="item.link">
                    <a [attr.href]="item.link" target="_blank">
                        {{item.link}}
                    </a>
                </ion-item>

                <ion-item>
                    <button item-left ion-button color="danger" clear
                            (click)="deletePlace(item)">
                        Delete
                    </button>
                    <span ion-text text-small *ngIf="!item.approved" color="energized">
                        Pending review
                    </span>
                    <button item-right ion-button color="primary" clear
                            (click)="editPlace(item)">
                        Edit
                    </button>
                </ion-item>
            </ion-card>
            <p text-center *ngIf="!(places.mine$ | async).length">No created places...</p>
        </div>
    </div>
</ion-content>
