<ion-header>
    <ion-navbar>
        <ion-title>
            <span *ngIf="place._id">Edit</span>
            <span *ngIf="!place._id">New</span>
            place
        </ion-title>
        <ion-buttons end>
            <button ion-button color="secondary"
                    [disabled]="!placeForm.valid || !place.location || !place.location.coordinates"
                    (click)="save()">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center>
        <ion-col no-padding width-100 class="profile-picture" (click)="changePicture()">
            <img [attr.src]="place.pic || 'assets/img/place-placeholder.jpg'">
            <p class="change-text">Change picture</p>
        </ion-col>
    </ion-row>

    <ion-row no-padding wrap center>
        <ion-col class="event-map-col" no-padding width-100>
            <div id="place-map" class="event-map"></div>
        </ion-col>
    </ion-row>
    <p no-padding text-center text-small>Click on the map or drag the marker to set the place coordinates.</p>

    <form (submit)="save()" #placeForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label>Name *</ion-label>
                <ion-input name="name" required type="text" [(ngModel)]="place.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Type *</ion-label>
                <ion-select name="type" [(ngModel)]="place.type" multiple="true">
                    <ion-option *ngFor="let t of placeTypes" value="{{t.value}}">
                        {{t.label}}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Address *</ion-label>
                <ion-input name="address" required type="text" [(ngModel)]="place.address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Phone</ion-label>
                <ion-input name="phone" type="text" [(ngModel)]="place.phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Working hours</ion-label>
                <ion-input name="hours" type="text" [(ngModel)]="place.hours"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Website</ion-label>
                <ion-input name="url" type="url" [(ngModel)]="place.link"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>