<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Nearby people</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button ion-item *ngFor="let item of nearby.people$ | async" (click)="viewMate(item._id)">
            <ion-avatar item-left>
                <mate-image [image]="item.pic"></mate-image>
            </ion-avatar>
            <h2>{{item.name}}</h2>
            <p *ngIf="item.distance">
                {{ item.distance | distance }} - {{ item.city }}, {{ item.country }}
            </p>
        </button>
    </ion-list>
    <p text-center *ngIf="nearby.people$.getValue().length === 0">No people nearby...</p>
</ion-content>
