<ion-header>
    <ion-navbar>
        <ion-title>
            {{mate.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center>
        <ion-col no-padding width-100 class="profile-picture">
            <mate-image [image]="mate.pic"></mate-image>
        </ion-col>
    </ion-row>

    <p text-center>
        <span *ngIf="mate.distance">{{ mate.distance }} away<br></span>
        {{ mate.city + ', ' + mate.country }}
    </p>

    <div padding-horizontal>
        <button ion-button icon-left block color="primary"
                *ngIf="!friendshipStatus && mate._id !== auth.user._id"
                (click)="addMate()">
            <ion-icon name="person-add"></ion-icon>
            Send mate request
        </button>

        <p text-center *ngIf="friendshipStatus === friendshipStatuses.pending">
            {{mate.name}} sent you a mate request!
        </p>
        <button ion-button icon-left block color="secondary" margin-bottom-small
                *ngIf="friendshipStatus === friendshipStatuses.pending"
                (click)="approveMate()">
            <ion-icon name="checkmark"></ion-icon>
            Add to my mates
        </button>
        <div text-center
             *ngIf="friendshipStatus === friendshipStatuses.requested ||
                    friendshipStatus === friendshipStatuses.pending">
            <p *ngIf="friendshipStatus === friendshipStatuses.requested">
                Request sent!
            </p>
            <button ion-button icon-left small block color="danger" outline
                    (click)="cancelMate()">
                <ion-icon name="close"></ion-icon>
                Cancel
            </button>
        </div>
        <button ion-button icon-left small block color="danger" outline
                *ngIf="friendshipStatus === friendshipStatuses.accepted"
                (click)="removeMate()">
            <ion-icon name="close"></ion-icon>
            Remove from my mates
        </button>
    </div>

    <ion-list>
        <ion-list-header>
            Pets
        </ion-list-header>
        <ion-item *ngIf="mate.pets.length===0">
            No pets here...
        </ion-item>
        <ion-item *ngFor="let d of mate.pets">
            <ion-avatar item-left>
                <pet-image [image]="d.pic"></pet-image>
            </ion-avatar>
            <h2>{{d.name}}</h2>
            <h3>{{d.breed.name}}</h3>
            <p><span [gender]="d.sex"></span>, <span [age]="d.birthday"></span></p>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Mates
        </ion-list-header>
        <ion-item *ngIf="mate.mates.length===0">
            No mates here...
        </ion-item>
        <button ion-item
                *ngFor="let d of mate.mates"
                (click)="viewMate(d.friend._id)">
            <ion-avatar item-left>
                <mate-image [image]="d.friend.pic"></mate-image>
            </ion-avatar>
            <h2>{{d.friend.name}}</h2>
            <p>{{d.friend.city + ', ' + d.friend.country}}</p>
        </button>
    </ion-list>
</ion-content>