<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="viewCtrl.dismiss()">
                Close
            </button>
        </ion-buttons>
        <ion-title>Forgot password?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding *ngIf="!tokenValid">
        <ion-segment [(ngModel)]="mode">
            <ion-segment-button value="request">
                Submit request
            </ion-segment-button>
            <ion-segment-button value="verify">
                Verify token
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="mode" *ngIf="!tokenValid">
        <form (ngSubmit)="auth.submitForgotRequest(email)" *ngSwitchCase="'request'" #tokenForm="ngForm">
            <ion-list>
                <ion-item>
                    <ion-input required type="email" placeholder="Account email"
                               name="email"
                               [(ngModel)]="email"></ion-input>
                </ion-item>
            </ion-list>
            <div padding-horizontal>
                <button small light block type="submit" block
                        [disabled]="!tokenForm.valid">
                    Send me a reset token
                </button>
            </div>
        </form>
        <form (ngSubmit)="checkResetToken()" *ngSwitchCase="'verify'" #checkTokenForm="ngForm">
            <ion-list>
                <ion-item>
                    <ion-input required type="text" placeholder="Reset token"
                               name="token"
                               [(ngModel)]="token"></ion-input>
                </ion-item>
            </ion-list>
            <div padding-horizontal>
                <button small light block type="submit" block
                        [disabled]="!checkTokenForm.valid">
                    Check token
                </button>
            </div>
        </form>
    </div>

    <form *ngIf="tokenValid" (ngSubmit)="changePassword()" #passwordForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-input required type="password" [(ngModel)]="password"
                           placeholder="New password"></ion-input>
            </ion-item>
            <div padding-horizontal>
                <button small light block type="submit" block
                        [disabled]="!passwordForm.valid">
                    Change password
                </button>
            </div>
        </ion-list>
    </form>
</ion-content>