<ion-toolbar>
    <ion-buttons start>
        <button (click)="viewCtrl.dismiss()">
            Close
        </button>
    </ion-buttons>
    <ion-title>Forgot password?</ion-title>
</ion-toolbar>

<div padding *ngIf="!tokenValid">
    <ion-segment [(ngModel)]="mode">
        <ion-segment-button value="request">
            Submit request
        </ion-segment-button>
        <ion-segment-button value="verify">
            Verify token
        </ion-segment-button>
    </ion-segment>
</div>

<ion-content>
    <div [ngSwitch]="mode" *ngIf="!tokenValid">
        <form (ngSubmit)="auth.submitForgotRequest(email)" *ngSwitchWhen="'request'">
            <ion-list>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input required type="text" [(ngModel)]="email"></ion-input>
                </ion-item>
            </ion-list>
            <div padding-horizontal>
                <button small light block type="submit" block>Submit</button>
            </div>
        </form>
        <form (ngSubmit)="checkResetToken()" *ngSwitchWhen="'verify'">
            <ion-list>
                <ion-item>
                    <ion-label floating>Reset password token</ion-label>
                    <ion-input required type="text" [(ngModel)]="token"></ion-input>
                </ion-item>
            </ion-list>
            <div padding-horizontal>
                <button small light block type="submit" block>Check token</button>
            </div>
        </form>
    </div>

    <form *ngIf="tokenValid" (ngSubmit)="changePassword()">
        <ion-list>
            <ion-item>
                <ion-label floating>New password</ion-label>
                <ion-input required type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <div padding-horizontal>
                <button small light block type="submit" block>Change password</button>
            </div>
        </ion-list>
    </form>
</ion-content>