nearby-page {

  .event-map-col {
    height: 200px;

    .event-map {
      width: 100%;
      height: 100%;
    }
  }

  .nearby-item-title {
    white-space: normal;
    font-size: 2rem;
  }

  ion-list {
    ion-avatar {
      margin: 8px 5px 8px 0;

      ion-icon {
        font-size: 30px;
      }
    }
  }

  .place-card {
    place-icon {
      margin-bottom: 0;
    }

    .place-type-badges-wrapper {
      position: relative;

      .place-type-badges {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }
    }

    ion-item {
      min-height: 0;

      ion-label {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
