<ion-header>
    <ion-navbar>
        <ion-title>{{item.pet.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding wrap center>
        <ion-col no-padding width-100 class="profile-picture">
            <mate-image [image]="item.pet.pic"></mate-image>
        </ion-col>
    </ion-row>

    <p text-center>{{item.city}}</p>

    <div padding-horizontal *ngIf="mate._id !== auth.user._id">
        <button ion-button icon-left block color="primary"
                *ngIf="!friendshipStatus"
                (click)="addMate()">
            <ion-icon name="person-add"></ion-icon>
            Send mate request
        </button>

        <p text-center *ngIf="friendshipStatus === friendshipStatuses.pending">
            {{mate.name}} sent you a mate request!
        </p>
        <button ion-button icon-left block color="secondary" margin-bottom-small
                *ngIf="friendshipStatus === friendshipStatuses.pending"
                (click)="approveMate()">
            <ion-icon name="checkmark"></ion-icon>
            Add to my mates
        </button>
        <div text-center
             *ngIf="friendshipStatus === friendshipStatuses.requested ||
                    friendshipStatus === friendshipStatuses.pending">
            <p *ngIf="friendshipStatus === friendshipStatuses.requested">
                Request sent!
            </p>
            <button ion-button small block color="danger" outline
                    (click)="cancelMate()">
                Cancel
            </button>
        </div>
        <button ion-button small block color="danger" outline
                *ngIf="friendshipStatus === friendshipStatuses.accepted"
                (click)="removeMate()">
            Remove from my mates
        </button>
        <div text-center>
            <button ion-button small clear color="danger" icon-left
                    (click)="report(item)">
                Report
            </button>
        </div>
    </div>
</ion-content>